* {
    margin:0;
    padding:0;
    box-sizing: border-box;
}

.clearfix::after {
    content:'';
    clear:both;
    display: table;
}

.container{  /* contenitore principale*/
    width: 80%;
    margin:0 auto;
    max-width: 1200px;
    font-family: Arial, Helvetica, sans-serif;
}


/* INIZIO HEADER */
.blu {                                /*sezione blu*/
    background-color: #0c325a;
    color:white;
}

header {
    color:white;
    text-transform: uppercase;
    top :10px;
    text-align: center;
    position: relative;
    font-weight: bold;
}

.logo{
    float: left;
}

nav  {
    float: left;
    margin: auto 90px;
    font-size: 15px;
}
nav ul li {
    display: inline-block;
    padding: 10px;
}

a{                                /*caratteristiche di tutti i link della pagina*/
    text-decoration: none;
    color: white;
    font-size: 11px;
}

nav a:hover{
    color:orange;
}

.right-header{                        /*parte destra del header*/
    position: absolute;
    float: right;
    padding:10px 0;
    right: 0;
}
.right-header a {
    padding: 10px;
}
.btn{
    color:white;
    text-transform: uppercase;
    border-radius: 5px;
    padding: 5px 10px;
    margin:0 10px;
}

.btn-blue{
    color: white;
    border:1px solid #b8e2f2;
    padding: 5px 20px;
    background-color:#0c325a;
}

.btn-green{
    color: white;
    /* padding: 5px 10px; */
    border:1px solid #7cbb02;
    background-color:#7cbb02;
}

.btn-big{
    padding:15px 30px;
}
.btn-smoll{
    padding: 5px 10px;
}


.jumbotron {
    width: 50%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 2;
}

.banner img {
    height: 350px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(20%);
}
.banner {                                /*banner con titolo h1*/
    height: 400px;
        position: relative;
}



/* FINE HEADER */

.grigio{                                /*sezione grigia*/
    background-color: #f9f9f9;
}

.intro{
    text-align: center;
    padding: 30px;
}
p{                                        /*stilizzazione di tutti i paragrafi della pagina*/
    color: #a599b1;
    margin-top: 20px;
}

/* MAIN */
.bianco{                                 /*sezione bianca*/
    background-color: white;
}

.box{                                   /*posizionamento dei tre box uguali*/
    width: 33.33333%;
    float: left;
    text-align: center;
    /* position: relative; */
    padding: 20px ;

}

.logo-box{                              /*definizione grandezza del contenitore dell' immagine del box*/
    height: 200px;
    padding: 50px;


}
.logo-box img{                         /*definizione grandezza dell'immagini del box*/
    width: 150px;
    height: 150px;
}

.testo-box{
    padding: 30px;
}

.testo-box h3{
    margin:10px 0;                        /*cambio titolo testo del box */
    color: #7fb802;
    line-height:30px;
}

.testo-box hr{                        /*linea separazione immagine dal testo*/
    width: 50px;
    margin: 30px auto;
    /* position: absolute; */
    /* left: 50%;
    transform: translateX(-50%); */
}
.testo-box p{
    margin-top:20px;
}
